

.hrline {
    border-top: solid;
    border-width: medium;
    color: rgb(139, 139, 139);
}

.gray{
    color: rgb(157, 80, 80);
    background-color: rgb(152, 212, 156);
}

.textSecond{
    color: rgb(136, 136, 136);
}

.text-third{
    color: rgb(86, 211, 113);
}

.COLOR{
    /* color: var(--color); */
    color: bisque;
    background-color: blueviolet;
}